:root {
  --color-3-rgb: 71, 0, 163;

  --color-1: #446DF6;
  --color-2: #F57600;
  --color-3: rgb(var(--color-3-rgb));
  --dark: #000000;
  --light: #ffffff;
}

@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

body {
  background-color: var(--light);
  margin: 0;
  font-family: 'Alata', sans-serif;
}

header {
  border-bottom: 5px solid var(--color-3);
  position: sticky;
  top: 0;
  background-color: var(--light);
  display: flex;
  padding: 10px;
}

a.logo-link {
  display: flex;
}

img.logo-link {
  height: 80px;
  align-self: center;
}

.title-and-nav {
 display: block;
 flex-grow: 1;
 margin: 0 30px 0 30px;
}

.page-title {
  color: var(--color-1);
  padding-left: 7.5px;
  padding-right: 7.5px;
  text-align: right;
}

#main-nav {
  display: flex;
  justify-content: space-between;
}

.main-nav-item {
  text-decoration: none;
  color: var(--color-2);
  font-weight: bold;
  padding: 7.5px;
  border-radius: 10px;
}

.main-nav-item:hover {
  background: rgba(var(--color-3-rgb), 7.5%);
}

main {
  padding: 10px;
}
