@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap'); /* Alata */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap'); /* Inter */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap'); /* Noto Sans */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,500;0,700;1,300&display=swap'); /* Ubuntu */

:root {
  --black: #000;
  --white: #FFF;
  --accent: #446DF6;
  --background-rgb: 1, 6, 24;
  --background: rgb(var(--background-rgb));
  --dark-accent: #000c2e;
  --light-accent: #839EF9;
  --heading-font-family: 'Alata', sans-serif;
  --body-font-family: 'Ubuntu', sans-serif;
  --body-font-weight: 300;
}

@media (prefers-reduced-motion) {
  *,
  *::after {
    transition: none !important;
  }
}

html {
  height: 100%;
  overflow-y: hidden;
  color-scheme: dark;
}

h1, h2, h3, p {
  max-width: 60ch;
}

h1, h2, h3 {
  font-family: var(--heading-font-family);
}

p {
  line-height: 1.7;
}

body {
  background-color: var(--background);
  margin: 0;
  height: 100%;
  color: var(--white);
  overflow-y: auto;
  font-family: var(--body-font-family);
  font-weight: var(--body-font-weight);
  scroll-behavior: smooth;
}

#main-nav {
  position: absolute;
  top: 0;
  background: var(--background);
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  z-index: 10;
  flex-wrap: wrap;
  gap: 20px;
  opacity: 0;
}

#main-nav.show-nav {
  opacity: 1;
}

#show-nav.show-nav {
  opacity: 0;
}

.show-nav {
  transition: opacity 0.5s;
}

#show-nav {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 15;
  background: none;
  padding: 0.75rem;
  margin: 0.25rem;
  border: none;
  width: fit-content;
}

#show-nav:focus-visible {
  border: 1px solid var(--white);
}

#show-nav i:hover {
  opacity: 0.5;
}

button {
  cursor: pointer;
}

#main-nav::after {
  content: "";
  background: linear-gradient(to right, transparent, var(--accent), transparent);
  width: 100%;
  height: 5px;
  position: absolute;
  bottom: 0;
}

#main-nav a {
  font-size: 1rem;
  color: inherit;
  padding: 5px;
  font-family: var(--heading-font-family);
}

a {
  color: var(--light-accent);
  text-decoration: none;
  position: relative;
  border: 1px solid transparent;
}

a::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0%;
  height: 2px;
  background-color: var(--accent);
  transition: width 0.25s;
  border-radius: 100px;
}

a:is(:hover, :focus:not(:focus-visible))::after {
  width: 100%;
  left: 0;
}

:focus {
  outline: transparent;
}

:focus-visible {
  border: 1px solid var(--accent);
  border-radius: 5px;
}

#main-title {
  background-image: linear-gradient(var(--accent), transparent);
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 5;
}

#main-logo {
  position: relative;
  top: 47%;
  transform: translateY(-50%);
  width: min(50%, 30rem);
}

#scroll-for-more {
  position: absolute;
  bottom: 10%;
}

body:not(::-webkit-scrollbar) {
  scrollbar-color: rgba(255, 255, 255, 0.45) var(--background);
  scrollbar-width: thin;
}

/* width */
body::-webkit-scrollbar {
  width: 5px;
}

/* Track */
body::-webkit-scrollbar-track {
  background: linear-gradient(var(--accent), transparent);
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.45);
  border-radius: 100px;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.75);
}

article {
  margin: auto;
  clear: both;
}

section {
  background-color: var(--dark-accent);
  padding: 2rem;
  margin: 1rem;
  /* width: 275px; */
  /* overflow: auto; */
  max-width: 70ch;
  box-sizing: border-box;
}

/* @media (max-width: 130ch) {
  section {
    width: 100%;
    margin: auto;
    display: block;
  }
} */

.sub-section {
  padding-left: 1rem;
}

.article-head {
  margin: 1rem;
  padding: 2rem;
}

section.left {
  /* align-self: flex-start; */
  float: left;
  clear: left;
}

section.right {
  /* align-self: flex-end; */
  float: right;
  clear: right;
}

.photos-section img {
  height: 20rem;
}

.photos-section {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

.updated-text {
  font-size: 0.6rem;
  font-style: italic;
  opacity: 60%;
}

a.with-icon {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: fit-content;
  padding: 0 0.5rem;
  flex-direction: row;
  /* flex-wrap: wrap; */
  /* color: var(--background) */
}

a.with-icon p {
  word-break: normal;
  overflow-wrap: anywhere;
}

a:not(.with-icon) {
  padding: 0.5rem 0;
}

.reveal {
  transition: transform 0.5s cubic-bezier(0, 0.44, 0.69, 1.05);
}

.reveal:not(.left, .right) {
  opacity: 0;
  transition: opacity 0.5s cubic-bezier(1, 0.22, 0.85, 0.91);
}

.reveal.left {
  transform: translateX(-100vw);
}

.reveal.right {
  transform: translateX(100vw);
}

.reveal.show {
  opacity: 1;
  transform: translateX(0);
}

h1 {
  font-size: 2rem;
  text-align: center;
}

#mchs-schedule-preview {
  width: min(100%, 300px);
  height: 100px;
  border: none;
  aspect-ratio: 7/5;
  /* height: fit-content; */
  /* float: right; */
  /* display: none; */
}

.link-list {
  /* float: left; */
  margin-bottom: 1rem;

}

.link-list p {
  margin: 8px;
}

main {
  overflow: hidden;
}

footer {
  /* background-color: var(--dark-accent); */
  display: flex;
  align-items: center;
  margin-top: 50vh;
  flex-direction: column;
  position: relative;
  padding: 0 2rem;
  text-align: center;
}

footer::before {
  content: "";
  background: linear-gradient(to right, transparent, var(--accent), transparent);
  width: 100%;
  height: 5px;
  position: absolute;
  top: -1rem;
}

footer p {
  /* max-width: none; */
  width: fit-content;
}

footer .link-list {
  margin: 0;
}
